<figure>
  <blockquote class="blockquote">
    <p>IF TOU LOVE WAGURI</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    WE ARE FRIEND T^T <cite title="Source Title"></cite>
  </figcaption>
</figure>
