<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="container text-center">
      <h1><?= pageData.title ?></h1>
      <p>
        Welcome to Kaoruko Wakuri
        <?= pageData.title ?>
      </p>
    </div>
    <div class="text-center">
      <img
        src="https://tse1.mm.bing.net/th/id/OIP.l4DQ-doX87zne3puBE-AjQHaHV?r=0&rs=1&pid=ImgDetMain&o=7&rm=3"
        class="rounded"
        alt="..."
      />
    </div>
    <div class="container text-center">
      <p>Natiwut Manimon</p>
      <?- include('../partials/footer') -?>
    </div>
  </body>
</html>
